.text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  display: inline-block;
  margin: 0;
}

.color-primary {
  color: var(--slate-12);
}

.color-secondary {
  color: var(--slate-11);
}

.decoration-none {
  text-decoration: none;
}

.decoration-underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.size-medium {
  font-size: 1.125rem; /* 18px */
}

.size-small {
  font-size: 0.9rem; /* 14.4px */
}
