.text {
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-leading);
  display: inline-block;
  margin: 0;
}

.color-primary {
  color: var(--slate-12);
}

.color-secondary {
  color: var(--slate-11);
}

.decoration-none {
  text-decoration: none;
}

.decoration-underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.size-medium {
  font-size: var(--text-size);
}

.size-small {
  font-size: 0.9375rem; /* 15px */
}
