@import "./colors.css";

html {
  background-color: var(--slate-1);
  color-scheme: light dark;
}

::selection {
  color: var(--brown-2);
  background-color: var(--brown-11);
}

:focus-visible {
  outline: 2px solid var(--brown-12);
  outline-offset: 3px;
  border-radius: 4px;
}
