.page {
  --section-spacing: 176px;
  --heading-spacing: 24px;
  --list-spacing: 24px;

  padding-block: var(--section-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--section-spacing);
}

.page :is(section, footer) :global(h2 + *) {
  margin-top: var(--heading-spacing);
}

.articles {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--list-spacing);
}

.article {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

.articleColor {
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  margin-right: 16px;
}

.beliefs {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--list-spacing);
}

.belief {
  position: relative;
  padding-left: 36px;

  & > blockquote {
    margin: 0;
  }

  &::before {
    content: "“";
    position: absolute;
    font-family: "Merriweather", serif;
    font-size: 3rem; /* 48px */
    font-weight: 700;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 1;
    color: var(--slate-12);
  }
}
