/**
 * A minimal CSS Reset based on Andy Bell's blog post.
 * Original reference: https://piccalil.li/blog/a-more-modern-css-reset
 *
 * I'm only modifying things I really find useful as a "good default",
 * other specific styles can be reset case by case on a component level.
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  /* biome-ignore-start lint/suspicious/noDuplicateProperties: Graceful degradation */
  min-height: 100vh;
  min-height: 100svh;
  /* biome-ignore-end lint/suspicious/noDuplicateProperties: Graceful degradation */
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
