.text {
  font-family: var(--font-body);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}

.text-underline {
  text-decoration: underline;
}

.color-primary {
  color: var(--slate-12);
}

.color-secondary {
  color: var(--slate-11);
}
