---
import Text from '@/components/text/text.astro'
import styles from './navbar.module.css'

const navbarLinks = [
  { name: 'About', pathname: '/about' },
  { name: 'Writing', pathname: '/writing' },
]
---

<nav>
  <ul class={styles.links}>
    <li>
      <a aria-label="Navigate to index page" href="/" class={styles.logo}>
        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="var(--slate-12)" stroke="var(--slate-12)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
          <polygon points="5.25 1.75,10.75 1.75,14.25 5.25,14.25 10.75,10.75 14.25,5.25 14.25,1.75 10.75,1.75 5.25"/>
        </svg>
      </a>
    </li>
    {navbarLinks.map((link) => {
      const curentPathname = Astro.url.pathname
      const isLinkActive = curentPathname === link.pathname;

      return (
        <li>
          <Text as="a" decoration={ isLinkActive ? "underline" : "none"} aria-current={isLinkActive ? "true" : "false"} href={link.pathname}>{link.name}</Text>
        </li>
      )
    })}
  </ul>
</nav>
