---
import Text from '@/components/text/text.astro'
import styles from './navbar.module.css'

const navbarLinks = [
  { name: 'Writing', pathname: '/writing' },
  { name: 'Contact', pathname: '/contact' },
]
---

<nav>
  <ul class={styles.links}>
    <li>
      <a aria-label="Navigate to index page" href="/" class={styles.logo}>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 392 203">
          <path d="M19.364 189.015C7.283 180.986.784 176.399.44 175.749c-.65-1.453-.574-3.747.19-5.2.345-.688 5.43-8.22 11.317-16.669 5.85-8.525 14.413-20.836 18.924-27.488 8.64-12.578 28.94-42.092 38.996-56.658 7.11-10.284 20.3-29.4 29.59-42.972C114.52 4.894 117.349.994 118.419.497c.574-.306 1.912-.497 2.906-.497 1.759 0 3.058.841 20.53 12.463l18.656 12.464h16.554l1.606-2.141c.879-1.185 4.435-6.308 7.914-11.317C194.69-.153 194.46.04 197.404.04h2.332L217.36 11.7c9.673 6.423 18.083 12.157 18.772 12.73.955.918 1.108 1.415 1.108 3.327 0 2.408.497 1.567-13.725 22.289-1.299 1.835-7.072 10.246-12.807 18.656-5.811 8.45-13.457 19.537-17.012 24.698-7.8 11.354-15.254 22.25-50.159 73.289-14.719 21.486-22.594 32.726-23.397 33.682-.688.764-1.3.917-3.173.917h-2.332l-17.854-11.852c-9.825-6.499-18.313-12.272-18.886-12.883-.841-.803-.994-1.415-.994-3.212 0-2.141.076-2.37 6.002-10.896 3.326-4.779 7.073-10.169 8.296-12.004 1.262-1.835 6.69-9.673 12.043-17.434 15.674-22.671 26.723-38.728 34.063-49.394 3.747-5.468 10.514-15.331 14.987-21.869l8.181-11.851v-9.367c0-5.544-.153-9.367-.382-9.367-.191 0-.879.689-1.491 1.568-.574.841-2.6 3.785-4.511 6.5-3.021 4.434-15.102 22.02-44.233 64.533-7.761 11.317-27.297 39.723-38.613 56.009-6.5 9.405-19.574 28.329-23.741 34.332-2.256 3.249-4.473 6.193-4.97 6.575-.536.344-1.797.612-2.906.612-1.873 0-2.753-.497-20.377-12.272zm172.019 12.214c-4.06-2.298-35.503-23.478-36.346-24.512-.804-.996-.919-1.57-.804-3.332.153-1.723.575-2.643 2.221-4.979 9.384-13.443 31.022-44.657 44.81-64.802 2.987-4.328 7.66-11.184 10.379-15.167 2.757-3.983 5.438-7.775 6.013-8.387 1.34-1.456 3.179-1.8 5.285-1.073.919.345 9.766 5.975 19.724 12.6 12.907 8.618 18.115 12.295 18.422 13.099 1.034 2.643.574 3.447-11.184 20.146-1.57 2.298-6.472 9.345-10.838 15.741l-7.966 11.604v8.771c0 4.826.153 9.038.383 9.307.268.421 1.723-1.379 5.132-6.243 5.63-7.966 16.66-23.937 22.749-32.899 4.711-6.894 33.205-48.449 36.001-52.47.958-1.38 5.247-7.66 9.575-13.941 4.289-6.281 8.234-12.026 8.77-12.677.919-1.188.958-1.57 1.034-10.916.039-5.285-.076-9.651-.268-9.69-.306-.038-8.119 11.107-19.456 27.691-2.489 3.677-4.978 7.085-5.553 7.622-1.264 1.11-4.098 1.263-6.051.268-2.221-1.15-35.809-23.708-36.422-24.435-.383-.46-.613-1.647-.613-2.95-.038-1.914.153-2.527 1.647-4.672.919-1.34 6.396-9.23 12.179-17.58 5.745-8.349 10.915-15.587 11.528-16.085.842-.766 1.532-.957 3.408-.957h2.375l18.69 12.485 18.689 12.486 8.465-.077 8.54-.115 8.234-11.834c4.52-6.511 8.579-12.103 8.924-12.333.383-.306 1.762-.536 2.987-.536h2.337l18.345 12.256c19.8 13.213 19.609 13.098 19.149 16.43-.191 1.57-1.532 3.6-14.056 21.83-1.302 1.84-6.166 8.925-10.838 15.819-18.384 26.81-24.971 36.46-29.758 43.431-5.783 8.349-11.873 17.35-30.639 44.695-28.993 42.321-30.754 44.887-31.942 46.266-.689.766-1.302.919-3.217.919-2.719 0-.804 1.149-24.664-14.63L231.214 177.1h-16.928l-2.375 3.447c-9.881 14.401-13.443 19.341-14.247 20.222-1.264 1.302-4.443 1.609-6.243.613z"/>
        </svg>
      </a>
    </li>
    {navbarLinks.map((link) => {
      const currentPathname = Astro.url.pathname
      const isLinkActive = currentPathname === link.pathname;

      return (
        <li>
          <Text as="a" decoration={ isLinkActive ? "underline" : "none"} aria-current={isLinkActive ? "true" : "false"} href={link.pathname}>{link.name}</Text>
        </li>
      )
    })}
  </ul>
</nav>
