.logo {
  --logo-size: 48px;
  width: var(--logo-size);
  height: var(--logo-size);
  text-decoration: none;

  svg {
    width: inherit;
    height: inherit;
  }

  svg path {
    fill: var(--slate-12);
  }
}

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
}

.links > li {
  display: grid;
  place-content: center;
}

.links > *:nth-child(1) {
  margin-right: auto;
}
