---
import { render } from 'astro:content'
import StylesLoader from '@/components/head/styles-loader.astro'
import TypographyLoader from '@/components/head/typography-loader.astro'
import Heading from '@/components/heading/heading.astro'
import NavBar from '@/components/navbar/navbar.astro'
import {
  type Article,
  getOrderedArticles,
} from '@/content/get-ordered-articles'
import ContainContent from '@/layouts/contain-content.astro'
import DefaultLayout from '@/layouts/default-layout.astro'

// biome-ignore lint/style/useExportsLast: Astro requires this export
export async function getStaticPaths() {
  const articles = await getOrderedArticles()
  return articles.map((article) => ({
    props: article,
    params: {
      slug: article.id,
    },
  }))
}

type Props = Article

const article = Astro.props
const { Content } = await render(article)
---

<!doctype html>
<html lang="en">
	<head>
		<StylesLoader />
		<TypographyLoader />
	  <title>{article.data.title} - Nicolas Jardim</title>
	</head>
	<body>
	  <ContainContent>
  	  <NavBar />
  		<DefaultLayout as="main">
        <section>
          <Heading level="1">{article.data.title}</Heading>
          <Content />
        </section>
      </DefaultLayout>
		</ContainContent>
	</body>
</html>
